language: node_js
node_js:
  - "4.1.1"
install: npm install
script: npm run coverage
after_script: npm run coveralls
branches:
  only:
    - master
notifications:
  email:
    on_success: never
    on_failure: change
